@import url("https://fonts.googleapis.com/css?family=Orbitron");
body {
  background: #000;
}
div.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: url("/images/bg.png") repeat;
  filter: blur(3px);
}
div.page {
  margin-left: 10%;
  margin-right: 10%;
}
h1.logo {
  margin: 0;
  width: 300px;
  background: linear-gradient(90deg, #ffbfbf, #ffffbf, #bfffbf, #bfffff, #ffbfff);
  background-size: 400% 100%;
  -webkit-background-clip: text;
  -webkit-text-stroke: 3px transparent;
  font: 40pt Orbitron;
  color: rgba(0,0,0,0.5);
  animation: 10s anim-h1-logo ease-in-out infinite alternate;
}
@-moz-keyframes anim-h1-logo {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
@-webkit-keyframes anim-h1-logo {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
@-o-keyframes anim-h1-logo {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
@keyframes anim-h1-logo {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: 100%;
  }
}
