@import url('https://fonts.googleapis.com/css?family=Orbitron|Signika')


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
// *                                                             * Colours * //
clr-rainbow-1 = rgb(255, 191, 191)
clr-rainbow-2 = rgb(255, 255, 191)
clr-rainbow-3 = rgb(191, 255, 191)
clr-rainbow-4 = rgb(191, 255, 255)
clr-rainbow-5 = rgb(255, 191, 255)

clr-rainbow-gradient = linear-gradient(90deg,
    clr-rainbow-1,
    clr-rainbow-2,
    clr-rainbow-3,
    clr-rainbow-4,
    clr-rainbow-5)

clr-content-bg = linear-gradient(90deg,
    rgba(16, 32, 64, .8),
    rgba(16, 32, 64, .2))

clr-content-border = rgba(127, 191, 255, .2)


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
// *                                                              * Layout * //
body
    background black

div.bg
    position fixed
    top 0
    left 0
    width 100%
    height 100%
    z-index -1

    background url('/images/bg.png') repeat // Wallpaper is from http://www.dinpattern.com/
    filter blur(3px)

div.page
    margin-left 10%
    margin-right 10%

div.container
    display flex

div.content
    flex 1 1 auto

    background clr-content-bg
    border 1px clr-content-border solid

    box-shadow 0 5px 5px 0 rgba(0, 0, 0, .5)


// * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * //
// *                                                                * Text * //
h1.logo
    margin 0
    width 300px

    background clr-rainbow-gradient
    background-size 400% 100%
    -webkit-background-clip text
    -webkit-text-stroke 3px transparent

    font 40pt Orbitron
    color rgba(0, 0, 0, .5)

    animation 10s anim-h1-logo ease-in-out infinite alternate

@keyframes anim-h1-logo
    0%
        background-position-x 0%
    100%
        background-position-x 100%

p
    margin 3px
    margin-left 10px

    font 10pt Signika
    color white
